version: '3.8'

services:
  app:
    build:
      context: ./docker/php
    container_name: fishing_area_app
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db

  web:
    image: nginx:latest
    container_name: fishing_area_web
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: fishing_area_db
    environment:
      MYSQL_DATABASE: fishing_area_db
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data:
